<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <!-- FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps"
      rel="stylesheet"
      type="text/css"
    />

    <!-- STYLESHEETS -->
    <link
      href="assets/relish/css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="assets/relish/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="assets/relish/css/vertical.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/relish/css/magnific-popup.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="assets/relish/css/flaticon.css" />
    <link rel="stylesheet" href="assets/relish/css/owl.carousel.css" />
    <link rel="stylesheet" href="assets/relish/css/ihover.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/relish/revslider/css/settings.css"
      media="screen"
    />
    <link
      href="assets/relish/css/styles.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>Akupuntur</title>
  </head>
  <body>
    <!-- PAGE -->

    <div class="page" id="top">
      <!-- preloader -->

      <div id="preloader">
        <div class="preloader-wave"></div>
      </div>

      <!-- / preloader -->

      <!-- sticky menu -->

      <header class="sticky-header js-stick top-fixed">
        <div class="container">
          <nav class="main-nav">
            <div class="full-wrapper align-center">
              <!-- logo sticky -->

              <div class="nav-logo-wrap-sticky">
                <a href="index.html" class="logo">
                  <img
                    src="assets/relish/images/logo.png"
                    data-at2x="assets/relish/images/logo@2x.png"
                    alt
                  />
                </a>
              </div>

              <!-- / logo sticky -->

              <!-- menu mobile bars -->

              <div class="mobile-nav">
                <i class="fa fa-bars"></i>
              </div>

              <!-- / menu mobile bars -->

              <div class="inner-nav desktop-nav">
                <ul class="clearlist">
                  <li>
                    <a href="index.html" class="nav-submenu active">Home</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#jasa" class="nav-submenu">Jasa</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#galeri" class="nav-submenu">Galeri</a>
                  </li>

                  <!-- logo menu -->

                  <li class="nav-logo-wrap">
                    <a href="index.html" class="logo">
                      <img
                        src="assets/relish/images/logo.png"
                        data-at2x="assets/relish/images/logo@2x.png"
                        alt
                      />
                    </a>
                  </li>

                  <!-- / logo menu -->

                  <li>
                    <a href="#tentang" class="nav-submenu">Tentang Kami</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#kontak" class="nav-submenu">Kontak</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#" class="nav-submenu">Akun</a>

                    <!-- submenu -->

                    <ul class="submenu">
                      <li>
                        <a href="#">Halaman Terapis</a>
                      </li>
                      <li>
                        <a href="#">Halaman Admin</a>
                      </li>
                      <li>
                        <a href="#">Pengaturan</a>
                      </li>
                      <li>
                        <a href="#">Keluar</a>
                      </li>
                    </ul>

                    <!-- / submenu -->
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- / sticky menu -->

      <section class="page-section">
        <div class="container">
          <div class="row shop-single">
            <div class="col-md-12">
              <div class="row mb-30">
                <!-- shop description -->

                <div class="col-md-12">
                  <h4 class="product-title font-alt">Bayar</h4>
                </div>

                <!-- shop description -->
              </div>

              <div class="row">
                <div class="col-md-12">
                  <p>
                    Lakukan pembayaran sebelum 24 November 2020, 19.00 WIB.
                    Upload bukti pembayaran, sesuai bank yang dipilih
                  </p>
                  <p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    23 jam 22 menit
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <small><strong>Tagihan yang harus dibayar</strong></small>
                  <div class="row">
                    <div class="col-md-4">
                      <h2>Rp. 75.000</h2>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-3">
                          <img src="assets/img/bca-logo.png" alt="BCA" />
                        </div>

                        <div class="col-md-4">
                          <small>Bank BCA (Akupuntur Indonesia)</small> <br />
                          <h6>731 025 2527</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr />

              <div class="container">
                <div class="row g-bg-hijau g-border-radius g-text-white">
                  <div class="col-md-4">
                    <p class="g-pad-y">3 Pelanggan dalam 1 minggu</p>
                  </div>
                  <div class="col-md-4">
                    <p class="g-pad-y">Akupuntur</p>
                  </div>
                  <div class="col-md-4"><p class="g-pad-y">Rp. 75.000</p></div>
                </div>
              </div>

              <div class="row mt-40">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5">
                      <form>
                        <div class="form-group">
                          <label for="inputFile">Upload Bukti Pembayaran</label>
                          <input
                            type="file"
                            class="form-control"
                            id="inputFile"
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputRekening">No Rekening</label>
                          <input
                            type="text"
                            class="form-control"
                            id="inputRekening"
                            placeholder="No Rekening"
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputNamaBank">Nama Bank</label>
                          <input
                            type="text"
                            class="form-control"
                            id="inputNamaBank"
                            placeholder="Nama Bank"
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputCabangBank">Unit/Cabang Bank</label>
                          <input
                            type="text"
                            class="form-control"
                            id="inputCabangBank"
                            placeholder="Unit/Cabang Bank"
                          />
                        </div>
                        <button type="submit" class="button small">
                          Upload
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr class="mt-0 mb-0 alt-2" />

      <!-- footer -->

      <footer>
        <div class="footer-rect">
          <img
            src="assets/relish/images/lines/rectangle-3.png"
            data-at2x="assets/relish/images/lines/rectangle-3@2x.png"
            alt
          />
        </div>

        <!-- footer top -->
        <div class="footer-section">
          <div class="container">
            <div class="row">
              <!-- footer contacts -->

              <div class="col-md-4 col-xs-12 mb-lg-30 col-md-offset-8">
                <div class="footer-contact align-center">
                  <a class="mail">Terms Of Service</a> |
                  <a class="mail">Private Police</a> |
                  <a class="mail">Information</a>
                </div>
              </div>

              <!-- / footer contacts -->
            </div>
          </div>
        </div>

        <!-- / footer top -->

        <!-- footer bottom -->

        <div class="bottom-footer">
          <div class="container align-center">
            <!-- footer copy -->

            <!-- <div class="footer-copy"> -->
            <span class="font-alt">Terapi Holistik Sayang Anak</span> © 2020.
            All rights reserved.
            <!-- </div> -->

            <!-- / footer copy -->
          </div>
        </div>

        <!-- / footer bottom -->
      </footer>

      <!-- / footer -->

      <!-- scroll-top -->

      <div id="scroll-top">
        <i class="fa fa-angle-up"></i>
        top
      </div>

      <!-- / scroll-top -->
    </div>

    <!-- / PAGE -->

    <!-- SCRIPTS -->

    <script src="assets/relish/js/jquery.min.js"></script>
    <script src="assets/relish/js/jquery.easing.js"></script>
    <script src="assets/relish/js/bootstrap.min.js"></script>
    <script src="assets/relish/js/owl.carousel.min.js"></script>
    <script src="assets/relish/js/isotope.pkgd.min.js"></script>
    <script src="assets/relish/js/jquery.fitvids.js"></script>
    <script src="assets/relish/js/jquery.magnific-popup.js"></script>
    <script src="assets/relish/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/relish/js/masonry.pkgd.min.js"></script>
    <script src="assets/relish/js/jquery.sticky.js"></script>
    <script src="assets/relish/js/jquery.form.min.js"></script>
    <script src="assets/relish/js/jquery.validate.min.js"></script>
    <script src="assets/relish/js/jquery.parallax.min.js"></script>
    <script src="assets/relish/js/jquery.appear.js"></script>
    <script src="assets/relish/js/retina.min.js"></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.tools.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.revolution.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.tools.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.revolution.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.slideanims.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.layeranimation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.navigation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.parallax.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.video.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.actions.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.kenburn.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.migration.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/http://maps.google.com/maps/api/js?sensor=false&amp;language=en"
    ></script>
    <script src="assets/relish/js/gmap3.min.js"></script>
    <script src="assets/relish/js/jquery.ui.min.js"></script>
    <script src="assets/relish/js/jquery.tweet.js"></script>
    <script src="assets/relish/js/scripts.js"></script>

    <!-- / SCRIPTS -->

    <!-- SCRIPT STYLE FOR NAVBAR -->
    <script>
      $(document).ready(function () {
        $("div.inner-nav li a").click(function (e) {
          $("div.inner-nav li a").removeClass("active");
          $(e.currentTarget).addClass("active");
        });
      });
    </script>
    <!-- /SCRIPT STYLE FOR NAVBAR -->
  </body>
</html>
