<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <!-- FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps"
      rel="stylesheet"
      type="text/css"
    />

    <!-- STYLESHEETS -->
    <link
      href="assets/relish/css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="assets/relish/font-awesome/css/font-awesome.min.css"
    />
    <link
      href="assets/relish/css/vertical.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/relish/css/magnific-popup.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="assets/relish/css/flaticon.css" />
    <link rel="stylesheet" href="assets/relish/css/owl.carousel.css" />
    <link rel="stylesheet" href="assets/relish/css/ihover.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/relish/revslider/css/settings.css"
      media="screen"
    />
    <link
      href="assets/relish/css/styles.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>Akupuntur</title>
  </head>
  <body>
    <!-- PAGE -->

    <div class="page" id="top">
      <!-- preloader -->

      <div id="preloader">
        <div class="preloader-wave"></div>
      </div>

      <!-- / preloader -->

      <!-- sticky menu -->

      <header class="sticky-header js-stick top-fixed">
        <div class="container">
          <nav class="main-nav">
            <div class="full-wrapper align-center">
              <!-- logo sticky -->

              <div class="nav-logo-wrap-sticky">
                <a href="index.html" class="logo">
                  <img
                    src="assets/relish/images/logo.png"
                    data-at2x="assets/relish/images/logo@2x.png"
                    alt
                  />
                </a>
              </div>

              <!-- / logo sticky -->

              <!-- menu mobile bars -->

              <div class="mobile-nav">
                <i class="fa fa-bars"></i>
              </div>

              <!-- / menu mobile bars -->

              <div class="inner-nav desktop-nav">
                <ul class="clearlist">
                  <li>
                    <a href="index.html" class="nav-submenu active">Home</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#jasa" class="nav-submenu">Jasa</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#galeri" class="nav-submenu">Galeri</a>
                  </li>

                  <!-- logo menu -->

                  <li class="nav-logo-wrap">
                    <a href="index.html" class="logo">
                      <img
                        src="assets/relish/images/logo.png"
                        data-at2x="assets/relish/images/logo@2x.png"
                        alt
                      />
                    </a>
                  </li>

                  <!-- / logo menu -->

                  <li>
                    <a href="#tentang" class="nav-submenu">Tentang Kami</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#kontak" class="nav-submenu">Kontak</a>
                  </li>
                  <li class="sep">
                    <a>/</a>
                  </li>
                  <li>
                    <a href="#" class="nav-submenu">Akun</a>

                    <!-- submenu -->

                    <ul class="submenu">
                      <li>
                        <a href="#">Halaman Terapis</a>
                      </li>
                      <li>
                        <a href="#">Halaman Admin</a>
                      </li>
                      <li>
                        <a href="#">Pengaturan</a>
                      </li>
                      <li>
                        <a href="#">Keluar</a>
                      </li>
                    </ul>

                    <!-- / submenu -->
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- / sticky menu -->

      <section class="page-section">
        <div class="container">
          <div class="row shop-single">
            <div class="col-md-9 woocommerce">
              <div class="row">
                <!-- shop images -->

                <div class="col-md-5 mb-md-20">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/big-img-1@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media big">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/big-img-1.jpg"
                            data-at2x="assets/relish/images/shop/big-img-1@2x.jpg"
                            alt
                          />
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <!-- /shop images -->

                <!-- shop description -->

                <div class="col-md-7 md-center">
                  <h4 class="product-title font-alt">Akupuntur</h4>

                  <p class="mt-10">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Illum reiciendis, eos aliquid maxime esse repellat neque.
                    Pariatur tempore minus, sit distinctio temporibus adipisci
                    sequi laborum iure et aliquid placeat necessitatibus!
                  </p>
                  <h6 class="shop-single-title-small mb-10">More</h6>
                  <div class="title-under alt font-alt">
                    <a href="#"><h3>Refleksi</h3></a>
                    <div class="img-line">
                      <img
                        src="assets/relish/images/lines/img-line-26.png"
                        data-at2x="assets/relish/images/lines/img-line-26@2x.png"
                        alt
                      />
                    </div>
                    <a href="#"><h3>Cupping</h3></a>
                    <div class="img-line">
                      <img
                        src="assets/relish/images/lines/img-line-26.png"
                        data-at2x="assets/relish/images/lines/img-line-26@2x.png"
                        alt
                      />
                    </div>
                    <a href="#"><h3>Relaksasi</h3></a>
                    <br />
                    <a href="#"><h3>Baby Spa</h3></a>
                  </div>
                </div>

                <!-- shop description -->
              </div>
              <hr class="mt-60 mb-60 alt-2" />

              <!-- shop grid or list -->

              <div class="group mt-40">
                <p class="result-count">Showing 1–9 of 50 results</p>
                <div id="list-grid">
                  <div class="grid-view active" title="Switch to grid view">
                    <i class="flaticon-squares-1"></i>
                  </div>
                  <!--
								-->
                  <div class="list-view" title="Switch to list view">
                    <i class="flaticon-squares-2"></i>
                  </div>
                </div>
                <form class="woocommerce-ordering" method="get">
                  <select name="orderby" class="orderby">
                    <option value="menu_order">Sort by newness</option>
                    <option value="popularity">Sort by popularity</option>
                    <option value="rating">Sort by average rating</option>
                    <option value="price">Sort by price: low to high</option>
                    <option value="price-desc">
                      Sort by price: high to low
                    </option>
                  </select>
                </form>
              </div>

              <!-- /shop grid or list -->

              <!-- shop products -->

              <div class="row mt-40 products">
                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-1@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-1.jpg"
                            data-at2x="assets/relish/images/shop/img-1@2x.jpg"
                            alt
                          />
                        </div>
                        <div class="label-new label-left font-alt">New</div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Luxury Spa</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="shop-price font-alt">$ 69<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-2@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-2.jpg"
                            data-at2x="assets/relish/images/shop/img-2@2x.jpg"
                            alt
                          />
                        </div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Spa Antistress</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-price font-alt">$ 109<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-3@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-3.jpg"
                            data-at2x="assets/relish/images/shop/img-3@2x.jpg"
                            alt
                          />
                        </div>
                        <div class="label-new label-left alt font-alt">
                          Best<br />Price
                        </div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Royal Spa</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="shop-price font-alt">$ 99<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="sep-lane alt-1 mt-60 mb-60">
                  <span
                    ><img
                      src="assets/relish/images/lines/img-line-0.png"
                      data-at2x="assets/relish/images/lines/img-line-0@2x.png"
                      alt
                  /></span>
                </div>
                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-4@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-4.jpg"
                            data-at2x="assets/relish/images/shop/img-4@2x.jpg"
                            alt
                          />
                        </div>
                        <div class="label-new label-left font-alt">New</div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Luxury Spa</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="shop-price font-alt">$ 69<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-5@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-5.jpg"
                            data-at2x="assets/relish/images/shop/img-5@2x.jpg"
                            alt
                          />
                        </div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Spa Antistress</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-price font-alt">$ 109<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-6@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-6.jpg"
                            data-at2x="assets/relish/images/shop/img-6@2x.jpg"
                            alt
                          />
                        </div>
                        <div class="label-new label-left font-alt">New</div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Royal Spa</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="shop-price font-alt">$ 99<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="sep-lane alt-1 mt-60 mb-60">
                  <span
                    ><img
                      src="assets/relish/images/lines/img-line-0.png"
                      data-at2x="assets/relish/images/lines/img-line-0@2x.png"
                      alt
                  /></span>
                </div>
                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-7@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-7.jpg"
                            data-at2x="assets/relish/images/shop/img-7@2x.jpg"
                            alt
                          />
                        </div>
                        <div class="label-new label-left alt font-alt">
                          Best<br />Price
                        </div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Luxury Spa</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="shop-price font-alt">$ 69<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-8@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-8.jpg"
                            data-at2x="assets/relish/images/shop/img-8@2x.jpg"
                            alt
                          />
                        </div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Spa Antistress</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="shop-price font-alt">$ 109<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->

                <!-- shop item -->

                <div class="col-md-4 col-sm-4 mb-60">
                  <div class="shop-container align-center alt-2">
                    <a
                      href="assets/relish/images/shop/img-9@2x.jpg"
                      class="lightbox mfp-image"
                    >
                      <div class="shop-media">
                        <div class="shop-img">
                          <img
                            src="assets/relish/images/shop/img-9.jpg"
                            data-at2x="assets/relish/images/shop/img-9@2x.jpg"
                            alt
                          />
                        </div>
                        <div class="label-new label-left alt font-alt">
                          Best<br />Price
                        </div>
                      </div>
                    </a>
                    <a href="shop-single-item.html"
                      ><h3 class="shop-title font-alt">Royal Spa</h3></a
                    >
                    <div class="shop-stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="shop-price font-alt">$ 99<span>99</span></div>
                    <p>
                      Phasellus tristique diam turpis, vitae rhoncus mi
                      ultricies vel
                    </p>
                    <a href="shop-cart.html" class="button small"
                      >Add to cart</a
                    >
                  </div>
                </div>

                <!-- /shop item -->
              </div>

              <!-- /shop products -->
            </div>
            <div class="col-md-3">
              <!-- widget search -->

              <aside class="widget-search">
                <h3>Search Products</h3>
                <form method="get" class="form" action="#">
                  <label>
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Search..."
                      value=""
                      title="Search for:"
                    />
                  </label>
                  <button type="submit" class="search-submit">
                    <i class="flaticon-search"></i>
                  </button>
                </form>
              </aside>

              <!-- /widget search -->

              <!-- widget filter -->

              <aside class="widget-filter">
                <h3>Filter by price</h3>
                <form method="get" action="#">
                  <div class="price_slider_wrapper">
                    <div
                      class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                      aria-disabled="false"
                    >
                      <div
                        class="ui-slider-range ui-widget-header ui-corner-all"
                      ></div>
                      <a
                        class="ui-slider-handle ui-state-default ui-corner-all"
                        href="#"
                        ><span class="from"></span
                      ></a>
                      <a
                        class="ui-slider-handle ui-state-default ui-corner-all"
                        href="#"
                        ><span class="to"></span
                      ></a>
                      <div
                        class="ui-slider-range ui-widget-header ui-corner-all"
                      ></div>
                    </div>
                    <div class="price_slider_amount">
                      <input
                        type="text"
                        id="min_price"
                        name="min_price"
                        value=""
                        data-min="2"
                        placeholder="Min price"
                        style="display: none"
                      />
                      <input
                        type="text"
                        id="max_price"
                        name="max_price"
                        value=""
                        data-max="35"
                        placeholder="Max price"
                        style="display: none"
                      />
                      <div class="price_label">
                        Price: <span class="from">Rp 75000</span><span> - </span
                        ><span class="to">Rp 200000</span>
                      </div>
                      <input type="hidden" name="post_type" value="product" />
                    </div>
                    <button type="submit" class="button small right">
                      Filter
                    </button>
                  </div>
                </form>
              </aside>

              <!-- /widget filter -->

              <!-- widget selers -->

              <aside class="widget-selers">
                <h3>Best Selers</h3>
                <div class="widget-slider-2 nav-alt-1">
                  <div class="slider-item">
                    <article class="clearfix">
                      <div class="product">
                        <img
                          src="assets/relish/images/shop/mini/img-2.jpg"
                          data-at2x="assets/relish/images/shop/mini/img-2@2x.jpg"
                          alt
                        />
                      </div>
                      <h4>Crème De La Mer</h4>
                      <div class="shop-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>$44.99</p>
                    </article>
                    <article class="clearfix">
                      <div class="product">
                        <img
                          src="assets/relish/images/shop/mini/img-3.jpg"
                          data-at2x="assets/relish/images/shop/mini/img-3@2x.jpg"
                          alt
                        />
                      </div>
                      <h4>MB Foot Wash</h4>
                      <div class="shop-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>$59.99</p>
                    </article>
                    <article class="clearfix">
                      <div class="product">
                        <img
                          src="assets/relish/images/shop/mini/img-4.jpg"
                          data-at2x="assets/relish/images/shop/mini/img-4@2x.jpg"
                          alt
                        />
                      </div>
                      <h4>KAI Face Butter</h4>
                      <div class="shop-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>$29.99</p>
                    </article>
                  </div>
                  <div class="slider-item">
                    <article class="clearfix">
                      <div class="product">
                        <img
                          src="assets/relish/images/shop/mini/img-2.jpg"
                          data-at2x="assets/relish/images/shop/mini/img-2@2x.jpg"
                          alt
                        />
                      </div>
                      <h4>Crème De La Mer</h4>
                      <div class="shop-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>$44.99</p>
                    </article>
                    <article class="clearfix">
                      <div class="product">
                        <img
                          src="assets/relish/images/shop/mini/img-3.jpg"
                          data-at2x="assets/relish/images/shop/mini/img-3@2x.jpg"
                          alt
                        />
                      </div>
                      <h4>MB Foot Wash</h4>
                      <div class="shop-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>$59.99</p>
                    </article>
                    <article class="clearfix">
                      <div class="product">
                        <img
                          src="assets/relish/images/shop/mini/img-4.jpg"
                          data-at2x="assets/relish/images/shop/mini/img-4@2x.jpg"
                          alt
                        />
                      </div>
                      <h4>KAI Face Butter</h4>
                      <div class="shop-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <p>$29.99</p>
                    </article>
                  </div>
                </div>
              </aside>

              <!-- /widget selers -->

              <!-- widget banner -->

              <aside class="widget-banner align-center">
                <article class="clearfix">
                  <div class="product">
                    <img
                      src="assets/relish/images/shop/mini/img-8.jpg"
                      data-at2x="assets/relish/images/shop/mini/img-8@2x.jpg"
                      alt
                    />
                  </div>
                  <span class="font-alt">-20%</span>
                  <div class="font-alt">
                    Valentine's Day
                    <div>
                      <div class="img-line">
                        <img
                          src="assets/relish/images/lines/img-line-26.png"
                          data-at2x="assets/relish/images/lines/img-line-26@2x.png"
                          alt
                        />
                      </div>
                    </div>
                  </div>
                  <p>Coupon Code: 12345</p>
                </article>
              </aside>

              <!-- /widget banner -->
            </div>
          </div>
        </div>
      </section>

      <hr class="mt-0 mb-0 alt-2" />

      <!-- footer -->

      <footer>
        <div class="footer-rect">
          <img
            src="assets/relish/images/lines/rectangle-3.png"
            data-at2x="assets/relish/images/lines/rectangle-3@2x.png"
            alt
          />
        </div>

        <!-- footer top -->
        <div class="footer-section">
          <div class="container">
            <div class="row">
              <!-- footer contacts -->

              <div class="col-md-4 col-xs-12 mb-lg-30 col-md-offset-8">
                <div class="footer-contact align-center">
                  <a class="mail">Terms Of Service</a> |
                  <a class="mail">Private Police</a> |
                  <a class="mail">Information</a>
                </div>
              </div>

              <!-- / footer contacts -->
            </div>
          </div>
        </div>

        <!-- / footer top -->

        <!-- footer bottom -->

        <div class="bottom-footer">
          <div class="container align-center">
            <!-- footer copy -->

            <!-- <div class="footer-copy"> -->
            <span class="font-alt">Terapi Holistik Sayang Anak</span> © 2020.
            All rights reserved.
            <!-- </div> -->

            <!-- / footer copy -->
          </div>
        </div>

        <!-- / footer bottom -->
      </footer>

      <!-- / footer -->

      <!-- scroll-top -->

      <div id="scroll-top">
        <i class="fa fa-angle-up"></i>
        top
      </div>

      <!-- / scroll-top -->
    </div>

    <!-- / PAGE -->

    <!-- SCRIPTS -->

    <script src="assets/relish/js/jquery.min.js"></script>
    <script src="assets/relish/js/jquery.easing.js"></script>
    <script src="assets/relish/js/bootstrap.min.js"></script>
    <script src="assets/relish/js/owl.carousel.min.js"></script>
    <script src="assets/relish/js/isotope.pkgd.min.js"></script>
    <script src="assets/relish/js/jquery.fitvids.js"></script>
    <script src="assets/relish/js/jquery.magnific-popup.js"></script>
    <script src="assets/relish/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/relish/js/masonry.pkgd.min.js"></script>
    <script src="assets/relish/js/jquery.sticky.js"></script>
    <script src="assets/relish/js/jquery.form.min.js"></script>
    <script src="assets/relish/js/jquery.validate.min.js"></script>
    <script src="assets/relish/js/jquery.parallax.min.js"></script>
    <script src="assets/relish/js/jquery.appear.js"></script>
    <script src="assets/relish/js/retina.min.js"></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.tools.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.revolution.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.tools.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/jquery.themepunch.revolution.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.slideanims.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.layeranimation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.navigation.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.parallax.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.video.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.actions.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.kenburn.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/revslider/js/extensions/revolution.extension.migration.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/relish/http://maps.google.com/maps/api/js?sensor=false&amp;language=en"
    ></script>
    <script src="assets/relish/js/gmap3.min.js"></script>
    <script src="assets/relish/js/jquery.ui.min.js"></script>
    <script src="assets/relish/js/jquery.tweet.js"></script>
    <script src="assets/relish/js/scripts.js"></script>

    <!-- / SCRIPTS -->

    <!-- SCRIPT STYLE FOR NAVBAR -->
    <script>
      $(document).ready(function () {
        $("div.inner-nav li a").click(function (e) {
          $("div.inner-nav li a").removeClass("active");
          $(e.currentTarget).addClass("active");
        });
      });
    </script>
    <!-- /SCRIPT STYLE FOR NAVBAR -->
  </body>
</html>
