<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akupuntur</title>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav
      class="navbar is-black py-3"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="assets/img/logo.png" />
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item"> Home </a>
            <a class="navbar-item"> Tentang Kami </a>
            <a class="navbar-item"> Galeri </a>
            <a class="navbar-item"> Contacts </a>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero bg-hero is-large">
      <div class="hero-body">
        <div class="container">
          <p class="title has-text-right">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </section>
  </body>
</html>
