<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akupuntur</title>

    <link rel="stylesheet" href="assets/css/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
  </head>
  <body>
    <nav
      class="navbar is-black py-3"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="assets/img/logo.png" />
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">Dashboard</a>
            <a class="navbar-item">Jadwal</a>
            <a class="navbar-item active">Setting Layanan</a>
            <a class="navbar-item">Kembali</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <p class="title is-4">Pesanan Baru</p>
        <div class="columns my-2">
          <div
            class="column has-background-success border-round has-text-white"
          >
            <div class="columns">
              <div class="column is-3">3 Pelanggan dalam 1 minggu</div>
              <div class="column is-5">Akupuntur</div>
              <div class="column is-4 has-text-centered">Rp. 75000</div>
            </div>
          </div>
        </div>
        <div class="columns my-2">
          <div
            class="column has-background-success border-round has-text-white"
          >
            <div class="columns">
              <div class="column is-3">3 Pelanggan dalam 1 minggu</div>
              <div class="column is-5">Akupuntur</div>
              <div class="column is-4 has-text-centered">Rp. 75000</div>
            </div>
          </div>
        </div>
        <div class="columns my-2">
          <div
            class="column has-background-success border-round has-text-white"
          >
            <div class="columns">
              <div class="column is-3">3 Pelanggan dalam 1 minggu</div>
              <div class="column is-5">Akupuntur</div>
              <div class="column is-4 has-text-centered">Rp. 75000</div>
            </div>
          </div>
        </div>
        <div class="columns my-2">
          <div
            class="column has-background-success border-round has-text-white"
          >
            <div class="columns">
              <div class="column is-3">3 Pelanggan dalam 1 minggu</div>
              <div class="column is-5">Akupuntur</div>
              <div class="column is-4 has-text-centered">Rp. 75000</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="field is-horizontal">
              <div class="field-label is-normal has-text-left">
                <p class="title is-4">Jadwal Terapis</p>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select>
                        <option>7 Hari</option>
                        <option>14 Hari</option>
                        <option>21 Hari</option>
                        <option>28 Hari</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="box has-background-success has-text-white">
              <article class="media">
                <div class="media-left mr-4">
                  <p class="icon">
                    <i class="far fa-3x fa-calendar"></i>
                  </p>
                </div>
                <div class="media-content">
                  <div class="content has-text-right">
                    <p>
                      Minggu, <br />
                      23 November 2020
                      <br />
                      19.00 WIB
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <p class="level-item">
                        Akupuntur <br />
                        Ny. Niki Zefanya <br />
                        50th
                      </p>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
          <div class="column">
            <div class="box has-background-success has-text-white">
              <article class="media">
                <div class="media-left mr-4">
                  <p class="icon">
                    <i class="far fa-3x fa-calendar"></i>
                  </p>
                </div>
                <div class="media-content">
                  <div class="content has-text-right">
                    <p>
                      Minggu, <br />
                      23 November 2020 <br />
                      19.00 WIB
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <p class="level-item">
                        Akupuntur <br />
                        Ny. Niki Zefanya <br />
                        50th
                      </p>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
          <div class="column">
            <div class="box has-background-success has-text-white">
              <article class="media">
                <div class="media-left mr-4">
                  <p class="icon">
                    <i class="far fa-3x fa-calendar"></i>
                  </p>
                </div>
                <div class="media-content">
                  <div class="content has-text-right">
                    <p>
                      Minggu, <br />
                      23 November 2020 <br />
                      19.00 WIB
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <p class="level-item">
                        Akupuntur <br />
                        Ny. Niki Zefanya <br />
                        50th
                      </p>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
          <div class="column">
            <div class="box has-background-success has-text-white">
              <article class="media">
                <div class="media-left mr-4">
                  <p class="icon">
                    <i class="far fa-3x fa-calendar"></i>
                  </p>
                </div>
                <div class="media-content">
                  <div class="content has-text-right">
                    <p>
                      Minggu, <br />
                      23 November 2020 <br />
                      19.00 WIB
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <p class="level-item">
                        Akupuntur <br />
                        Ny. Niki Zefanya <br />
                        50th
                      </p>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer has-background-green-dark">
      <div class="container">
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <p class="level-item">
              <a href="#" class="has-text-success">Terms of service</a>
            </p>
            <p class="level-item">
              <a href="#" class="has-text-success">Private Police</a>
            </p>
            <p class="level-item">
              <a href="#" class="has-text-success">Information</a>
            </p>
          </div>
        </div>
        <hr />
        <div class="content has-text-centered">
          <div class="content">
            <span
              class="font-family-philosopher is-size-5 mr-3 has-text-success"
              >Terapi Holistik Sayang Anak</span
            >
            <span class="font-family-roboto has-text-grey-light"
              >&copy; 2020. All rights reserved.</span
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
