<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="assets/css/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section g-fullheight g-bg-hijau p-0">
      <div class="columns is-vcentered g-fullheight">
        <div class="column g-bg-hero-login g-fullheight is-hidden-touch">
          <p
            class="has-text-right font-family-philosopher has-text-white is-size-5 mr-3 g-pos-bottom"
          >
            The Perfect Blend of Technique & Relaxation
          </p>
        </div>
        <div class="column">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="container p-2">
                <h1
                  class="title has-text-weight-bold font-family-philosopher has-text-success"
                >
                  Selamat Datang
                </h1>
                <h2
                  class="subtitle font-family-philosopher is-hidden-desktop has-text-white"
                >
                  The Perfect Blend of Technique & Relaxation
                </h2>
                <!-- Form -->
                <div class="field">
                  <label class="label g-has-text-white-on-medium">Email</label>
                  <div class="control">
                    <input
                      class="input is-success"
                      type="email"
                      placeholder="Your Email"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Password</label
                  >
                  <div class="control has-icons-right">
                    <input
                      class="input is-success"
                      type="password"
                      placeholder="Your Password"
                    />
                    <span class="icon is-small is-right mr-2">
                      <span>Show</span>
                    </span>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control is-expanded">
                    <label class="checkbox g-has-text-white-on-medium">
                      <input type="checkbox" />
                      Ingat saya
                    </label>
                  </div>
                  <div class="control">
                    <a href="#" class="has-text-success">Forgot password?</a>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button
                      class="button is-success is-fullwidth has-text-white has-text-weight-medium"
                    >
                      Masuk
                    </button>
                  </div>
                </div>
                <div class="field">
                  <p
                    class="has-text-centered has-text-grey g-has-text-white-on-medium"
                  >
                    Atau
                  </p>
                </div>
                <div class="field">
                  <div class="control">
                    <button
                      class="button is-black is-fullwidth has-text-white has-text-weight-medium"
                    >
                      <span class="icon"><i class="fab fa-google"></i></span>
                      <span class="font-family-philosopher"
                        >Masuk dengan akun Google</span
                      >
                    </button>
                  </div>
                </div>
                <!-- End Form -->
                <p
                  class="has-text-grey has-text-centered mt-6 g-has-text-white-on-medium"
                >
                  Pengguna Baru, Silahkan
                  <a href="customer-daftar-1.html" class="has-text-success"
                    >Daftar</a
                  >
                </p>
                <p
                  class="has-text-grey has-text-centered mt-1 g-has-text-white-on-medium"
                >
                  Daftar klinik terapi Anda
                  <a href="terapis-daftar-1.html" class="has-text-success"
                    >Disini</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
