<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akupuntur</title>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav
      class="navbar is-black py-3"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="assets/img/logo.png" />
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">Dashboard</a>
            <a class="navbar-item">Jadwal</a>
            <a class="navbar-item active">Setting Layanan</a>
            <a class="navbar-item">Kembali</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <p class="title is-4">Setting Layanan Saya</p>
        <div class="columns">
          <div class="column is-one-third">
            <figure class="image is-1by1">
              <img class="is-rounded" src="assets/img/big-img.jpg" />
            </figure>
            <div class="columns is-mobile mt-4">
              <div class="column">
                <figure class="image is-1by1">
                  <img class="is-rounded" src="assets/img/big-img.jpg" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-1by1">
                  <img class="is-rounded" src="assets/img/big-img.jpg" />
                </figure>
              </div>
              <div class="column">
                <figure class="image is-1by1">
                  <img class="is-rounded" src="assets/img/big-img.jpg" />
                </figure>
              </div>
            </div>
          </div>
          <div class="column pl-6">
            <p class="title is-3 has-text-success font-family-philosopher">
              Akupuntur Dokter Sung
            </p>
            <p class="content">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad
              eligendi itaque nemo illo reiciendis officiis aliquam corrupti eum
              alias saepe quod natus maxime maiores, distinctio facilis harum
              vel soluta numquam.
            </p>
            <div class="buttons">
              <button class="button is-medium is-success">Akupuntur</button>

              <button class="button is-medium is-success is-outlined">
                Refleksi
              </button>

              <button class="button is-medium is-success">Cupping</button>

              <button class="button is-medium is-success">Relaksasi</button>

              <button class="button is-medium is-danger is-outlined">
                Baby Spa
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <hr />
    </div>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="title is-5">Informasi Terapis</p>
            <figure class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Alamat</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label"
                    >Jl. Karangduren No 45 RT 08 RW 09, Kabupaten Malang</label
                  >
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">No. Telp</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">0341 89732777</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Email</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">akupunturbydoktersung@gmail.com</label>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-offset-2">
            <p class="title is-5">Informasi Pemilik Terapis</p>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Nama Pemilik</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">Sunggokong</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Bank</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">BCA</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Rekening</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">3891273293</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Cabang</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">Kudusan</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Alamat</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">Jl. Karangduren No 45</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">No. Telp.</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <label class="label">0341 237819273</label>
                </div>
              </div>
            </div>
            <div class="field is-horizontal mt-4">
              <div class="field-label has-text-left">
                <label class="label has-text-grey">Identitas</label>
              </div>
              <div class="field-body">
                <figure class="image is-128x128 mr-3 mb-3">
                  <img src="https://bulma.io/images/placeholders/128x128.png" />
                </figure>
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/128x128.png" />
                </figure>
              </div>
            </div>
          </div>
        </div>
        <a
          href="#"
          class="button is-medium is-fullwidth font-family-philosopher has-background-orange has-text-white"
        >
          Edit
        </a>
      </div>
    </section>

    <footer class="footer has-background-green-dark">
      <div class="container">
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <p class="level-item">
              <a href="#" class="has-text-success">Terms of service</a>
            </p>
            <p class="level-item">
              <a href="#" class="has-text-success">Private Police</a>
            </p>
            <p class="level-item">
              <a href="#" class="has-text-success">Information</a>
            </p>
          </div>
        </div>
        <hr />
        <div class="content has-text-centered">
          <div class="content">
            <span
              class="font-family-philosopher is-size-5 mr-3 has-text-success"
              >Terapi Holistik Sayang Anak</span
            >
            <span class="font-family-roboto has-text-grey-light"
              >&copy; 2020. All rights reserved.</span
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
