<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar</title>

    <link rel="stylesheet" href="assets/css/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section g-fullheight g-bg-hijau p-0">
      <div class="columns is-vcentered g-fullheight">
        <div class="column g-bg-hero-login g-fullheight is-hidden-touch">
          <p
            class="has-text-right font-family-philosopher has-text-white is-size-5 mr-3 g-pos-bottom"
          >
            The Perfect Blend of Technique & Relaxation
          </p>
        </div>
        <div class="column">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="container p-2">
                <div class="field is-grouped">
                  <div class="control is-expanded">
                    <a
                      class="has-text-dark is-expanded has-text-weight-bold g-has-text-white-on-medium"
                      >&lt; Back</a
                    >
                  </div>
                  <div class="control">
                    <p
                      class="has-text-grey has-text-right is-size-7 g-has-text-white-on-medium"
                    >
                      STEP 03/03
                      <br />
                      <span
                        class="has-text-grey-dark g-has-text-white-on-medium"
                        >Personal Info.</span
                      >
                    </p>
                  </div>
                </div>
                <h1
                  class="title has-text-weight-bold font-family-philosopher has-text-success"
                >
                  Daftar
                </h1>
                <!-- Form -->
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Foto KTP Anda</label
                  >
                  <div class="control">
                    <div id="upload-foto-ktp" class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume" />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">Pilih Berkas</span>
                        </span>
                        <span class="file-name">Tidak ada berkas</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Foto Selfie KTP Anda</label
                  >
                  <div class="control">
                    <div id="upload-foto-selfie" class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume" />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">Pilih Berkas</span>
                        </span>
                        <span class="file-name">Tidak ada berkas</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Foto Profile Anda</label
                  >
                  <div class="control">
                    <div id="upload-foto-profile" class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume" />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">Pilih Berkas</span>
                        </span>
                        <span class="file-name">Tidak ada berkas</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Password</label
                  >
                  <div class="control">
                    <input
                      class="input is-success"
                      type="password"
                      placeholder="Masukkan Password"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Masukkan Ulang Password Anda</label
                  >
                  <div class="control">
                    <input
                      class="input is-success"
                      type="password"
                      placeholder="Masukkan Ulang Password"
                    />
                  </div>
                </div>
                <div class="field mt-5">
                  <div class="control">
                    <a
                      href="terapis-daftar-4.html"
                      class="button is-success is-fullwidth has-text-white has-text-weight-medium"
                    >
                      Selanjutnya
                    </a>
                  </div>
                </div>
                <!-- End Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      const fileKTP = document.querySelector(
        "#upload-foto-ktp input[type=file]"
      );
      fileKTP.onchange = () => {
        if (fileKTP.files.length > 0) {
          const fileName = document.querySelector(
            "#upload-foto-ktp .file-name"
          );
          fileName.textContent = fileKTP.files[0].name;
        }
      };
      const fileSelfie = document.querySelector(
        "#upload-foto-selfie input[type=file]"
      );
      fileSelfie.onchange = () => {
        if (fileSelfie.files.length > 0) {
          const fileName = document.querySelector(
            "#upload-foto-selfie .file-name"
          );
          fileName.textContent = fileSelfie.files[0].name;
        }
      };
      const fileProfile = document.querySelector(
        "#upload-foto-profile input[type=file]"
      );
      fileProfile.onchange = () => {
        if (fileProfile.files.length > 0) {
          const fileName = document.querySelector(
            "#upload-foto-profile .file-name"
          );
          fileName.textContent = fileProfile.files[0].name;
        }
      };
    </script>
  </body>
</html>
