<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar</title>

    <link rel="stylesheet" href="assets/css/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section g-fullheight g-bg-hijau p-0">
      <div class="columns is-vcentered g-fullheight">
        <div class="column g-bg-hero-login g-fullheight is-hidden-touch">
          <p
            class="has-text-right font-family-philosopher has-text-white is-size-5 mr-3 g-pos-bottom"
          >
            The Perfect Blend of Technique & Relaxation
          </p>
        </div>
        <div class="column">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="container p-2">
                <div class="field is-grouped">
                  <div class="control is-expanded">
                    <a
                      href="login.html"
                      class="has-text-dark is-expanded has-text-weight-bold g-has-text-white-on-medium"
                      >&lt; Back</a
                    >
                  </div>
                  <div class="control">
                    <p
                      class="has-text-grey has-text-right is-size-7 g-has-text-white-on-medium"
                    >
                      STEP 01/03
                      <br />
                      <span
                        class="has-text-grey-dark g-has-text-white-on-medium"
                        >Personal Info.</span
                      >
                    </p>
                  </div>
                </div>
                <h1
                  class="title has-text-weight-bold font-family-philosopher has-text-success"
                >
                  Daftar
                </h1>
                <!-- Form -->
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Nama Terapis</label
                  >
                  <div class="control">
                    <input
                      class="input is-success"
                      type="text"
                      placeholder="Masukkan Nama"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >Alamat Terapis</label
                  >
                  <div class="control">
                    <input
                      class="input is-success"
                      type="text"
                      placeholder="Masukkan Alamat"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium">Email</label>
                  <div class="control">
                    <input
                      class="input is-success"
                      type="email"
                      placeholder="Masukkan Email"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="label g-has-text-white-on-medium"
                    >No. Handphone</label
                  >
                  <div class="control">
                    <input
                      class="input is-success"
                      type="tel"
                      placeholder="Masukkan No. Handphone"
                    />
                  </div>
                </div>
                <div class="field mt-5">
                  <div class="control">
                    <a
                      href="terapis-daftar-2.html"
                      class="button is-success is-fullwidth has-text-white has-text-weight-medium"
                    >
                      Selanjutnya
                    </a>
                  </div>
                </div>
                <!-- End Form -->
                <p
                  class="has-text-grey has-text-centered mt-6 g-has-text-white-on-medium"
                >
                  Sudah Punya
                  <a href="login.html" class="has-text-success">Akun?</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
