<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akupuntur</title>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav
      class="navbar is-black py-3"
      role="navigation"
      aria-label="main dropdown navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="assets/img/logo.png" />
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">Dashboard</a>
            <a class="navbar-item">Setting Harga dan Layanan</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Verifikasi</a>
              <div class="navbar-dropdown">
                <a class="navbar-item">Verifikasi Terapis</a>
                <a class="navbar-item">Verifikasi Pembayaran</a>
              </div>
            </div>
            <a class="navbar-item">Kembali</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="field is-grouped">
          <div class="control is-expanded">
            <p class="title is-4">Verifikasi Terapis</p>
          </div>
          <div class="control">
            <p class="has-text-grey has-text-right is-size-7">
              STEP 02/02
              <br />
              <span class="has-text-grey-dark">Verifikasi Terapis</span>
            </p>
          </div>
        </div>
        <div class="columns mt-3">
          <div class="column">
            <p class="title is-6 has-text-success">Pilih Layanan Terapis</p>
            <div class="buttons">
              <button class="button is-medium is-success">Akupuntur</button>

              <button class="button is-medium is-success is-outlined">
                Refleksi
              </button>

              <button class="button is-medium is-success">Cupping</button>

              <button class="button is-medium is-success">Relaksasi</button>

              <button class="button is-medium is-success is-outlined">
                Baby Spa
              </button>
            </div>
            <p class="title is-6 has-text-success mt-6">
              Harga Layanan Terapis
            </p>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">
                    <span
                      class="title font-family-philosopher has-text-grey is-5"
                      >01.</span
                    >
                    <span
                      class="title font-family-philosopher has-text-success is-5"
                      >Akupuntur</span
                    >
                  </label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Masukkan Harga"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label"
                    ><span
                      class="title font-family-philosopher has-text-grey is-5"
                      >02.</span
                    >
                    <span
                      class="title font-family-philosopher has-text-success is-5"
                      >Refleksi</span
                    ></label
                  >
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Masukkan Harga"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label"
                    ><span
                      class="title font-family-philosopher has-text-grey is-5"
                      >03.</span
                    >
                    <span
                      class="title font-family-philosopher has-text-success is-5"
                      >Cupping</span
                    ></label
                  >
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Masukkan Harga"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label"
                    ><span
                      class="title font-family-philosopher has-text-grey is-5"
                      >04.</span
                    >
                    <span
                      class="title font-family-philosopher has-text-success is-5"
                      >Relaksasi</span
                    ></label
                  >
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Masukkan Harga"
                    />
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label"
                    ><span
                      class="title font-family-philosopher has-text-grey is-5"
                      >05.</span
                    >
                    <span
                      class="title font-family-philosopher has-text-success is-5"
                      >Baby Spa</span
                    ></label
                  >
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Masukkan Harga"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <a
          href="#"
          class="button is-medium is-fullwidth font-family-philosopher has-background-success has-text-white mb-4"
        >
          Simpan
        </a>
      </div>
    </section>

    <footer class="footer has-background-green-dark">
      <div class="container">
        <div class="level">
          <div class="level-left"></div>
          <div class="level-right">
            <p class="level-item">
              <a href="#" class="has-text-success">Terms of service</a>
            </p>
            <p class="level-item">
              <a href="#" class="has-text-success">Private Police</a>
            </p>
            <p class="level-item">
              <a href="#" class="has-text-success">Information</a>
            </p>
          </div>
        </div>
        <hr />
        <div class="content has-text-centered">
          <div class="content">
            <span
              class="font-family-philosopher is-size-5 mr-3 has-text-success"
              >Terapi Holistik Sayang Anak</span
            >
            <span class="font-family-roboto has-text-grey-light"
              >&copy; 2020. All rights reserved.</span
            >
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
